*{
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  border: 0;
}

.App-header {
  background-color: #27cf40;
  display: block;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  padding: 0.75rem 0;
}
.data-display{
  display: flex;
  justify-content: space-evenly;
}
.pi-chart{
  height: 300px;
  width: 300px;
}
.money-inpupt{
}